@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
main {
  overflow: hidden;
}
img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
::selection {
  background-color: #beebe9;
  color: black;
}
html,
body {
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  transition: all 0.5s;
  position: relative;
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  flex-wrap: nowrap;
}
section {
  min-height: 50%;
  text-align: center;
  padding: 50px 0px;
}
section:nth-child(even) {
  background-color: whitesmoke;
}
/* ------------------------------- FIN RECURENTES -- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: ease-in-out 0.5s;
  z-index: 50;
}
header a.logo-Acc {
  width: 30%;
  height: 50px;
}
header a.logo-Acc svg {
  width: 60px;
  height: 50px;
}
header a.logo-Acc svg .cls-1 {
  fill: white;
}
header a.logo-Acc svg .cls-2 {
  fill: white;
}
header nav#navdesktop {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
header nav#navdesktop ul {
  display: flex;
  flex-direction: row;
  line-height: 50px;
}
header nav#navdesktop ul li {
  margin-right: 2rem;
  list-style: none;
  text-decoration: none;
}
header nav#navdesktop ul li a {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  font-weight: 600;
}
header nav#navdesktop ul li a::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: -100%;
  bottom: 50%;
  border-radius: 25px;
  transition: all 0.5s;
}
header nav#navdesktop ul li a:hover {
  display: block;
  color: black;
}
header nav#navdesktop ul li a:hover::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 100%;
  bottom: 50%;
  transition: all 0.5s;
  border-radius: 25px;
}
header nav#navtablet {
  width: 100%;
  height: 100%;
  display: none;
}
header nav#navtablet #burger {
  z-index: 99999;
  width: 50px;
  height: 50px;
  right: 5%;
  display: none;
  position: absolute;
}
header nav#navtablet #burger #button_burger {
  width: 100%;
  height: 50px;
  position: relative;
  cursor: pointer;
}
header nav#navtablet #burger #button_burger span {
  background-color: white;
  display: block;
  position: absolute;
  height: 10px;
  width: 110%;
  border-radius: 5px;
  left: 0;
  transition: ease-in-out 0.5s;
}
header nav#navtablet #burger #button_burger span:nth-of-type(1) {
  transform-origin: left center;
  top: 0;
}
header nav#navtablet #burger #button_burger span:nth-of-type(2) {
  transform-origin: left center;
  bottom: 20px;
}
header nav#navtablet #burger #button_burger span:nth-of-type(3) {
  transform-origin: left center;
  bottom: 0;
}
header nav#navtablet .style-click #button_burger span:nth-of-type(1) {
  background-color: #396afc !important;
  top: 0;
  transform: rotate(45deg);
}
header nav#navtablet .style-click #button_burger span:nth-of-type(2) {
  background-color: #396afc !important;
  width: 0%!important;
}
header nav#navtablet .style-click #button_burger span:nth-of-type(3) {
  bottom: 0;
  background-color: #396afc !important;
  transform: rotate(-45deg);
}
header nav#navtablet #menu_burger {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -150%;
  transition: all 0.5s;
  background-color: white;
}
header nav#navtablet #menu_burger ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
}
header nav#navtablet #menu_burger ul li {
  list-style: none;
  margin-bottom: 1rem;
}
header nav#navtablet #menu_burger ul li a {
  text-decoration: none;
  color: #396afc;
  display: block;
  font-weight: 600;
  font-size: 1.5rem;
}
header nav#navtablet #menu_burger ul li a:hover {
  color: black;
}
header nav#navtablet .open_menu {
  right: 0%!important;
  transition: all 1s;
}
.header-scroll {
  background-color: #396afc;
  box-shadow: 0px 3px 21px -13px rgba(0, 0, 0, 0.75);
  transition: ease-in-out 0.25s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
section#me {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: left;
  background: linear-gradient(to top, #396afc, #2948ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
section#me div#social {
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}
section#me div#social ul li {
  list-style: none;
  margin-bottom: 1rem;
}
section#me div#social ul li a {
  display: block;
  color: white;
  text-decoration: none;
}
section#me div#social ul li a i {
  font-size: 1.5rem;
}
section#me div#social ul li a i:hover {
  color: black;
}
section#me div.container-flex {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  padding-left: 20rem;
  align-items: center;
  display: flex;
}
section#me div.container-flex div#pres {
  width: 100%;
}
section#me div.container-flex div#pres h1 {
  font-size: 8rem;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  line-height: 8rem;
  color: white;
}
section#me div.container-flex div#pres h2 {
  display: block;
  padding-right: 25rem;
  color: white;
  font-weight: 400;
}
section#me div#container-mouse {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
section#me div#container-mouse div#mouse {
  width: 1.8rem;
  height: 3rem;
  border: white 2.5px solid;
  border-radius: 60px;
  margin: 0 auto;
}
section#me div#container-mouse div#mouse::before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}
@keyframes mouse {
  0% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 0;
    top: 50px;
    width: 0;
    height: 0;
  }
}
section#me div#container-mouse p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
section#expertise div#global-container-expertise {
  margin: 0 auto;
  width: 90%;
  height: auto;
}
section#expertise div#global-container-expertise .container-expertise {
  width: 100%;
  min-height: 150px;
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
section#expertise div#global-container-expertise .container-expertise .expertise-text {
  margin: 0 auto;
  width: 90%;
}
section#expertise div#global-container-expertise .container-expertise .expertise-text h2 {
  font-weight: 300;
  margin-bottom: 10px;
}
section#expertise div#global-container-expertise .container-expertise .expertise-text h3 {
  font-weight: 300;
  color: #2948ff;
  margin-bottom: 10px;
}
section#expertise div#global-container-expertise .container-expertise .expertise-text h4 {
  font-weight: 300;
}
section#expertise div#global-container-expertise .container-expertise .expertise-text a {
  display: inline-block;
  color: black;
}
section#expertise div#global-container-expertise .container-expertise .expertise-text a:hover {
  color: #2948ff;
}
section#expertise div#global-container-expertise .container-expertise:before {
  content: '';
  position: absolute;
  width: 5%;
  height: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0px;
  background-color: #2948ff;
}
footer {
  background: linear-gradient(to top, #396afc, #2948ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer div#containercontactfooter ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer div#containercontactfooter ul li {
  list-style: none;
  margin: 20px;
}
footer div#containercontactfooter ul li a {
  color: white;
  display: block;
}
footer div#containercontactfooter ul li a:hover {
  color: black;
}
footer div#containercontactfooter ul li a i {
  font-size: 25px;
}
@media screen and (max-width: 1200px) {
  section#me div.container-flex {
    padding-left: 0rem;
    text-align: justify;
    padding: 10rem;
  }
  section#me div.container-flex div#pres h2 {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  header nav#navdesktop {
    display: none;
  }
  header nav#navtablet {
    display: block;
  }
  header nav#navtablet #burger {
    display: block;
  }
  header nav#navtablet #menu_burger {
    display: block;
  }
  section#me div.container-flex {
    padding-left: 0;
  }
  section#me div.container-flex {
    padding: 5rem;
  }
  section#expertise div#global-container-expertise .container-expertise {
    text-align: justify;
  }
  section#expertise div#global-container-expertise .container-expertise:before {
    top: -20px;
  }
  footer div#containercontactfooter ul {
    flex-wrap: wrap;
  }
  footer div#containercontactfooter ul li {
    margin: 10px 20px;
  }
}
@media screen and (max-width: 600px) {
  section#me div.container-flex div#pres h1 {
    line-height: 4rem;
    font-size: 4rem;
  }
  section#me div.container-flex {
    padding: 2rem;
  }
}
